[2018-03-09 10:35] amarbajric opened #1 "Get Application/Services running on Unix/Linux"
Currently the project is not working on Unix/Linux machine due to some database errors...
Need to follow instructions in the master theses to setup correctly

[2018-03-11 13:42] amarbajric commented on #1
Currently the project is not working on Unix/Linux machine due to some database errors...
Need to follow instructions in the master theses to setup correctly

[2018-03-11 13:43] amarbajric opened #2 "Modify repository name and readme according to our project"
Project repository needs modification in terms of repo name, readme and other

[2018-03-11 13:44] amarbajric opened #3 "Create automatic script for Unix/Linux execution of services"
Currently only windows batch files exist to start services automatically. Need to add bash scripts (for example) in order to run automatically.

[2018-03-11 13:45] amarbajric opened #4 "Create docker-compose file for MySQL"
Need an automatic setup for the mysql database to set-up everything automatically and also create the initial database structure out of the script in order to enhance dev productivity

[2018-03-22 11:01] amarbajric opened #6 "dummy pr 2"

[2018-03-22 11:08] #6 closed, assigned to nobody

[2018-03-22 12:43] tortmann opened #7 "Define SWD work packages for first Iteration"
incl. time estimate and resources required

[2018-03-22 12:53] tortmann opened #8 "Internal Processes"
5 internal processes
BPMN
incl. description

[2018-03-22 12:54] tortmann opened #9 "External Processes"
3 internal processes
S-BPM
incl. description

[2018-03-22 13:01] tortmann opened #10 "Management Summary"

[2018-03-22 13:01] tortmann opened #11 "Vision, Mission, Strategy"

[2018-03-22 13:04] tortmann opened #12 "Business Model"

[2018-03-22 13:05] tortmann opened #13 "Environment Analysis"

[2018-03-22 13:05] tortmann opened #14 "Concept, Plan, Implementation"

[2018-03-22 13:06] tortmann opened #15 "Platform Functionality"

[2018-03-22 13:08] tortmann opened #16 "Profit Model"

[2018-03-22 13:09] tortmann opened #17 "Industry Analysis"
Porter

[2018-03-22 13:09] tortmann opened #18 "Risk Analysis"

[2018-03-22 13:09] tortmann opened #19 "Value Proposition Canvas"

[2018-03-22 13:10] tortmann opened #20 "SWOT - Analysis"

[2018-03-22 13:11] tortmann opened #21 "Customers, Marketing, Communication"

[2018-03-22 13:12] tortmann opened #22 "Team Description"

[2018-03-22 13:12] tortmann opened #23 ""The Transformative Business""
6 aspects

[2018-03-22 13:12] tortmann opened #24 "3 Pillars by Stähler"

[2018-03-22 13:16] tortmann opened #25 "Re-evaluate Team distribution"
redistribute resources from BP to SWD

[2018-03-22 13:21] tortmann opened #26 "Inform Customer (RS) about Progress + Feedback for BM Canvas"

[2018-03-22 13:23] tortmann opened #27 "Prepare Interim Presentation"

[2018-03-22 13:23] tortmann opened #28 "Prepare Final Presentation & Final Report"
prepare final report document for customer

[2018-03-22 13:35] tortmann opened #29 "Extend/Adapt Data model (Prereq. for Implem.)"
Check RBAC model in master theses on p.48
This concept should be fine and only the adaption of tables for Users, companies and the platform for buying/selling/reviewing processes is needed.

[2018-03-22 13:36] tortmann opened #30 "Implement ShopService/Processstoreservice"
In order to manage the platform and the shop in the frontend, a new service would be needed in order to handle all related tasks
- Should manage buying/selling/reviewing processes in the shop
- Should manage which company/user has bought which process
- Should be registered and configured with `ServiceDiscovery` microservice

[2018-03-22 13:37] tortmann opened #31 "User Interface - NOTASK"

[2018-03-22 13:37] tortmann opened #32 "Process Store - NOTASK"

[2018-03-22 13:38] tortmann opened #33 "Editor Environment - NOTASK"

[2018-03-22 13:38] tortmann opened #34 "Process Execution Environment - NOTASK"

[2018-03-26 12:49] mwageneder commented on #8
Registrierung DONE
Upload-Validierung DONE

[2018-03-26 17:17] stfnltnr commented on #3
**Branch unix-running-#1**
@amarbajric
- modify start.sh that bash scripts for services are started in new terminals for OS X, lines are highlighted with TODO

[2018-03-26 18:55] mwageneder commented on #8
3/5 - Modellkauf DONE

[2018-03-27 07:56] #1 closed, assigned to loete

[2018-03-27 07:56] #3 closed, assigned to loete, amarbajric

[2018-03-28 14:02] mwageneder commented on #8
4/5 Instanzkauf DONE
5/5 Änderungsanfrage DONE

[2018-03-30 13:20] #4 closed, assigned to amarbajric

[2018-03-31 08:00] stfnltnr opened #37 "Change NativeQueries to lowercase"
Change Queries where NativeQuery=true to lowerCase to avoid Errors on UNIX platforms

[2018-03-31 08:52] amarbajric opened #38 "GitRepo - Config"
See master thesis p.42
Config needs to point to our own repository as it currently uses the config from another repository

[2018-03-31 08:53] #7 closed, assigned to amarbajric

[2018-03-31 08:57] amarbajric commented on #7
See `EBUSA_SWD_APs_Ostern.pdf` on SharePoint under `Documents/Development/Arbeitspakete_Requirements`

[2018-03-31 09:02] amarbajric commented on #29
This task does NOT require a PR.
Only modeling and reviewing will be done.

[2018-03-31 09:06] amarbajric opened #39 "Implement approved data model"
If data model from task/issue #29 is approved, it can be implemented in the backend.
- Change and create the needed scaffolding classes and code for creating new/extended tables
- Create ER-model out of mysql db for documentation

[2018-03-31 09:08] amarbajric opened #40 "Extend/Adapt RBAC Service"
The `Gateway` microservice and its `AuthenticationService` need to be adapted in order to allow registration and login of users.
- Depends on tasks/issues #29 and #39

[2018-03-31 09:16] amarbajric opened #41 "Adapt EventLogger"
The EventLogger microservice should be adapted in order to allow for logging actions and activities of companies and their users.
- What are users doing within a company on the platform?
- Activities and monitoring
- Who has started which process or stopped it etc..

[2018-03-31 09:19] amarbajric opened #42 "Adapt Processengine"
Analyze the Akka Actors in the process engine and adapt to
- allow for better logging when and (maybe) why a process was stopped
- who stopped processes and when?
- in general better logging for process instances on company/user level

[2018-03-31 09:22] amarbajric opened #43 "First test run"
Task for testing the implemented features of the first iteration. Should at least successfully demonstrate:
- searching for processes on the platform in the store
- registration of users and organisations/companies where multiple users can be invited to
- login/logout
- Processdetailspage to view single process in store

[2018-03-31 09:28] amarbajric opened #44 "Fix GUI-dev errors and resolve issues"
The `GUI` (frontend) uses an outdated version of Angular. Would be highly recommended to upgrade to the latest Angular version.
- Upgrade Angular 2.x to 5.x
- Check and fix possible dependency breaks
- Test if frontend still works

[OPT/HD]: This task is optional but highly desirable. If it takes to long, we need to discard this task/issue

[2018-03-31 09:31] amarbajric opened #45 "Sketch of WelcomePage/Home/ProcessStore/ProcessDetails"
**Frontend (currently named ExecutionPlatform) needs design sketches for following pages:**
- WelcomePage
  - The page after Login which more or less greets the User
  - Concept can be like we know it from Amazon (newest processes, popular processes, ..)
- HomePage
  - Dashboard for the User where he can check for information about himself or access further functionality like `My uploaded processe

[2018-03-31 09:40] amarbajric opened #46 "Processstore - Search component"
Implement the search component which allows to search for processes.
- HD: also allow for filtering
- is part of the landing page

[2018-03-31 09:45] amarbajric opened #47 "Processstore - Navigation component"
Implement the navigation component to allow for navigating on the platform.
- show all pages dynamically (check for role and access rights)
- login/logout/register access

[2018-03-31 09:46] amarbajric opened #48 "Processstore - WelcomePage component"
On the landing page, we should also greet the visitor/guest/user with some information/data. THIS TASK SHOULD BE DONE IF TASK #45 is done/approved!
- show for example recently added processes to the store
- show processes with the best reviews
- etc.

[2018-03-31 09:48] amarbajric opened #49 "Processstore - process details component"
Implement the process details component which allows for a detailed overview of a process.
- should be the page when clicking on a process from the search results
- should show all details about a process in a well-structured way

[2018-03-31 09:52] amarbajric opened #50 "Processstore - shopping cart component"
Implement the logic and overall the component for the shopping cart of the store.
- is related to task/issue #47
- should be part of the navigation component (best case)
- should include logic and behavior of a common shopping cart like known from online stores/shops

[2018-03-31 09:55] amarbajric opened #51 "UserPage - User details component"
Implement a component which allows users to view their personal information and details.
- association to comp./org.
- basic data of logged-in user
- Permissions and what can the user do
- HD: open tasks (of process instances)

[2018-03-31 09:59] amarbajric opened #52 "UserPage - Dashboard component"
Implement a dashboard which allows logged-in users to get an overview about:
- active process instances they are involved in
- active process instances (if they are "boss" of company)
- start/stop/manage process instances (if role allows for this actions)
- accounting - how much costs are the running instances generating (if role allows for this view)
- other key figures

Should be as modular as p

[2018-03-31 10:01] amarbajric opened #53 "UserPage - process upload component"
Implement a component that allows for uploading processes. The upload mechanism is already present. Needs migration into its own component and testing.
- HD: drag&drop implementation
- should show which uploaded processes are pending for approval and which ones are approved and ready for being published on the store
- show key figures about sold processes etc. (can also be moved to the dashboard c

[2018-03-31 10:21] #37 closed, assigned to loete

[2018-04-03 17:04] tortmann opened #56 "Discuss necessity for ENGLISH processes + descriptions with customer (RS)"

[2018-04-03 17:05] tortmann commented on #8
##### Review#1 done - 03.04.2018
Added comments in all `.pdf` and `.docx` documents for a review of the author(@mwageneder) with the request for changes and short feedback in case of discussions/questions issued in the commentary

#### The necessity for an English version of all processes and their descriptions should be discussed with our customer RS (see issue #56)

[2018-04-04 07:59] #2 closed, assigned to amarbajric

[2018-04-05 11:37] #26 closed, assigned to tortmann

[2018-04-05 11:37] #56 closed, assigned to tortmann

[2018-04-05 18:15] mwageneder commented on #8
Since the Business Case is written in German the Author of the Business Processes chose German as well. If the Processes or the Documentation is needed in English, do not hesitate to contact the Author (@mwageneder) for an update.

Reviewed all Change requests within `.pdf` and `.docx` documents from @tortmann and implemented them within a new folder with version `v2.0`!

[2018-04-05 18:45] tortmann commented on #8
We can further discuss the necessity for an English version during our next meeting as the customer doesn't necessarily require an EN version at this moment in time.

[2018-04-05 18:45] #8 closed, assigned to mwageneder, tortmann

[2018-04-06 13:41] amarbajric opened #57 "Fix start script for zsh shell"
The `start.sh` script does not work when using the zsh shell. The newly created tabs are not copying the working directory of the previous tab and hence it cannot execute the scripts. Bash on macOS does this by default. Needs fix.

[2018-04-06 14:59] mwageneder opened #58 "ProcessModeller - Save Bug"
If you want to save an owl file and an input field is missing, there is no error which Input Field is missing or what is not working corrrectly. Maybe a message, why downloading is not working would be fine. Discussion at the next meeting suggested by @tortmann

`TypeError: Cannot read property 'messageOwlIdentifier' of undefined`

[2018-04-06 17:05] mwageneder commented on #9
3 internal Processes incl. description (everything as well in German) finished and ready for review!

[2018-04-07 08:27] #57 closed, assigned to amarbajric

[2018-04-08 08:48] tortmann commented on #9
Very well done, thank you. I only edited a few typos in one document, the rest is all great. Version 1.0 approved!

[2018-04-08 08:48] #9 closed, assigned to mwageneder, tortmann

[2018-04-08 12:22] NSpalek commented on #19
Ready for review.
Can be found on SharePoint: Dokumente\BusinessPlan\ValuePropositionCanvas_v1.docx

[2018-04-08 15:38] NSpalek commented on #16
Ready for review.
Can be found on SharePoint: Dokumente\BusinessPlan\Ertragsmodell_v1.docx

To-Do:

[2018-04-09 11:38] tortmann commented on #19
I highlighted a couple of points that should be discussed in more detail during our next team meeting to discuss their necessity or level of detail. In general however it is well done and will be approved after the some potentially minor changes following the next meeting.

[2018-04-09 12:50] tortmann commented on #16
I highlighted a couple of points that should be discussed in more detail during our next team meeting to discuss their necessity or level of detail. In general however it is well done and will be approved after the some potentially minor changes following the next meeting. Additionally the necessity for a cost revenue estimate should be discussed at it directly influences the revenue model mention

[2018-04-09 13:44] tortmann commented on #23
I did not quite agree with your interpretation of a few key points discussed. Therefore I left some comments marked in yellow with a request for change and if necessary further discussions during the next meeting.

[2018-04-09 21:20] Graf-Carello commented on #10
First draft is ready for review. The text file is saved under following path on SharePoint: Dokumente\BusinessPlan\ManagementSummary_v1.docx

[2018-04-09 21:31] Graf-Carello commented on #24
First draft is ready for review. The file can be found under the BusinesPlan folder on SharePoint.

[2018-04-09 21:56] amarbajric commented on #29
**DONE:**
- first adaptions/discussions written down in a document
- made some considerations about the existing data model and how to adapt/extend it
- short excerpt of the two tables recommended and one optional table to adapt/extend/add as an ER-Diagram

**ToDo:**
- @tortmann I need a review from you and your thoughts on my considerations and what you think? Do you see any problems/issues with

[2018-04-09 22:14] Graf-Carello commented on #12
First draft is ready for review. I tried to keep it short, since other docs like the BMC, VPC etc explain the business model in more detail. So we don't have the same information written down multiple times.

[2018-04-10 09:29] tortmann commented on #29
##### 1) ad User:

- AuthenticationService definitely needs to be linked to the DB (- user table)
- whether or not it's better to use the existing roles/rules and extend them or create additional access control entities should be discussed during the next meeting
- only exisiting users that have a verified payment for premium services (just a bool required for our purposes) should be able to creat

[2018-04-10 09:40] tortmann commented on #10
added a comment in yellow regarding the necessity of SLAs - this aspect should also be discussed shortly during the next meeting since the revenue model also requires further discussion.

[2018-04-10 09:46] tortmann commented on #12
please change "newly developed platform" to extended platform and giving reference to the original project. requested changes are marked in yellow in the document

[2018-04-10 09:52] tortmann commented on #24
Approved after reviewing!

[2018-04-10 09:52] #24 closed, assigned to Graf-Carello

[2018-04-10 10:00] dietrich14 commented on #21
ready for review, can be found on sharepoint in folder BusinessPlan

[2018-04-10 11:20] amarbajric commented on #29
We will definitely need more roles and rules to allow organizations for a better RBAC control.
- Maybe we could also implement the feature of defining custom roles within an org. by putting together predefined rules?

I totally agree with you! This is a required feature/implementation and should be considered. Thank you!

I do not agree fully with all points mentioned.
- If users have an attribute

[2018-04-10 12:35] tortmann commented on #29
Yes it definitely makes more sense to put them into one table and differentiate via a `type` attribute.

This should indicate wheter or not this user can execute process models - on second thought however it makes much more sense to associate this with an organization.

I wasn't completely sure wheter this would be possible by simply linking the new user table and the existing roles/rules that's w

[2018-04-10 12:43] amarbajric commented on #29
Thank you @tortmann for your time on this issue and your feedback concerning this topic.
I am also looking forward to the discussion with the other members on this specific topic and other upcoming topics. However, again thank you for your input. Much appreciated!

[2018-04-10 12:48] tortmann commented on #13
I left my comments in the document - marked in yellow

[2018-04-10 12:54] dietrich14 commented on #13
this task was actually not yet ready for review, however thanks already for the fast review ;)

[2018-04-10 12:55] tortmann commented on #13
i am sry about that i already saw it beeing uploaded and the other document is much longer so i started with this one ;)

[2018-04-10 13:28] tortmann commented on #21
comments marked in yellow - very well done in general - only a few additions are necessary

[2018-04-10 13:28] tortmann commented on #21
comments marked in yellow - very well done in general - only a few additions are necessary

[2018-04-10 14:07] amarbajric opened #61 "CleanUp Repo - Delete (inactive) branches"
After the meeting the unnecessary and no longer needed feature-branches will be deleted. This should help in order to keep an overview about active (feature)branches and unused ones.

- Needs confirmation from members after plenum discussion

[2018-04-10 14:12] tortmann commented on #61
Great idea. Maybe until then everyone has managed to actually create a feature-branch matching their currently assigned tasks ;)

[2018-04-10 14:23] NSpalek commented on #18
Ready for review.
Can be found on SharePoint: Dokumente\BusinessPlan\Risikoanalyse_v1.xlsx
Gives an overview about the basic risks for the developement and operating phase.

To-Do:
More risks should be discussed with teammembers individually (better insight) and added to the document

[2018-04-10 14:41] tortmann commented on #18
I would definitely evaluate "lack of competence of teammembers" as much more likely to occur than 20% - should be discussed during the next meeting

"team members not completing tasks in time" should also be included in my opinion as it influences the progess of the project escpecially relevent for te dev team and if dependancies are related to the missing/incomplete task

More risks should be dis

[2018-04-10 15:14] NSpalek commented on #18
I agree, this should be discussed.
The evaluation should be higher if we consider, that we use a complex basis as a starting point, which no team member has worked on before.

You're right! This is definitly a risk to be added.
Therefore I would like to interview some team members (or at least the team leaders) to add more risks I haven't thought  of by now, after our next meeting

[2018-04-10 16:22] dietrich14 commented on #22
ready for review, can be found on sharepoint

TODO: add further description of activities of the members of the dev team

[2018-04-10 16:33] tortmann commented on #22
The document is fine for now but should definitely grow during the project and might need a categorization per person for each milestone to see changes throughout the project. I will move it back to "in progress" nevertheless it's hereby approved as done for Milestone 1.

[2018-04-10 17:45] NSpalek commented on #20
Ready for review.
Can be found on SharePoint: Dokumente\BusinessPlan\SWOT_v1.xlsx

Top five for every category were chosen, but it could be extended if necessary.
Document holds very detailed desrciption and information based on the template to easily extend. Can be deleted if no longer needed, but it is a nice bonus.

[2018-04-10 18:26] tortmann commented on #20
I really liked the SWOT analysis especially the fact that you also mentioned the necessity for innovation management. Approved

[2018-04-10 18:26] #20 closed, assigned to NSpalek

[2018-04-10 18:37] Graf-Carello commented on #11
First draft is ready for review. The file can be found in the BusinessPlan folder.
Especially for the companies strategy I wasn't to sure on what to write. So I think this topic needs a bit discussing tomorrow.

[2018-04-10 18:52] Graf-Carello commented on #10
I added a bit of information according to your RFC. Further findings from tomorrows meeting will be implemented. So as you pointed out, we need to discuss and finalize our revenue model if possible tomorrow.

[2018-04-10 19:10] Graf-Carello commented on #12
I added the reference to the IPPR2016 project. I guess "newly developed platform" sounded cooler, but is a bit too far from the actual truth =)

[2018-04-10 20:06] NSpalek commented on #17
Ready for review.
Can be found on SharePoint: Dokumente\BusinessPlan\Branchenstrukturanalyse_FiveForces_v1.docx

[2018-04-10 20:13] tortmann commented on #17
Very good analysis and I also appreciate referencing the sources you used. Approved

[2018-04-10 20:13] #17 closed, assigned to NSpalek

[2018-04-10 20:16] tortmann commented on #11
very nice and concise yet detailed overview. I agree with you that discussing the strategy with the team is a great idea

[2018-04-10 20:19] tortmann commented on #10
thanks for the changes - exactly what I requested - as you mentioned a discussion about the details of the revenue model will follow in tomorrow's meeting

[2018-04-10 20:20] tortmann commented on #12
thanks for the changes - approved

[2018-04-10 20:20] #12 closed, assigned to Graf-Carello

[2018-04-10 20:25] tortmann commented on #15
I know you are probably not quite done with the platform functionality but I just had a quick peak at the current version. Seems great, however no matter the results, a detailed discussion with members of the dev team (@amarbajric , @loete ) especially in conjunction with the new data model #29 will be necessary

[2018-04-15 14:49] amarbajric commented on #29
**UPDATE (15.04.2018)**
- revision of the initial data model proposal was done
  - Participants: @amarbajric & @mwageneder
- changes were documented and published under a new file on the SharePoint
  - Filename: `data_model_adaption_v2.pdf`
  - includes all considerations and needed adaptions in a well-formed structure
  - includes a new revised and adapted excerpt of the data model which shows al

[2018-04-16 16:17] mwageneder commented on #29
**Review on: `data_model_adaption_v2.pdf`**

First of all, thank you very much for summarizing our discussion about the data model. You already identified the key points we have to adapt in order to fit our needs and listed them in your first summary. We only had to sharpen it a little bit and added a few points and now it should fit our needs. From my point of view, everything I can think of by n

[2018-04-16 16:25] amarbajric commented on #29
Thank you for your first "review" @mwageneder!
Besides, I also like the idea of creating some supportive processes to give especially the SWD-Team an idea about all the procedures that the platform application should feature at the end.

[2018-04-17 08:44] #25 closed, assigned to tortmann

[2018-04-17 09:40] stfnltnr commented on #29
Checked my assumption according user data and recognized that there is no password column within the current usertable :poop: So we have to make some adjustments that the user data is read from the db instead of the *.csv files. As I have seen you already had some thoughts on this issue and added the missing columns to the user table.

Everything else looks very promising to me, imo we should impl

[2018-04-17 09:42] tortmann commented on #29
@amarbajric @mwageneder  Thank you for the very detailed and well done data model and documentation. In my opinion everything important is considered and documented for the time being.

Supporting processes are definitely a great idea and should help the members of the dev team to better understand the underlying processes

@loete

Since everybody has now approved the current version of the data m

[2018-04-17 09:42] #29 closed, assigned to mwageneder, amarbajric

[2018-04-17 10:03] tortmann commented on #40
Directly connected to #39

[2018-04-17 10:03] tortmann commented on #39
is Basis for #40

[2018-04-17 10:30] amarbajric opened #62 "Login/Registration Mask - Test with new frontend"
**NOTE: This task depends on:**
- [x] Task #72
- [ ] Task #73 (is not fully dependent. Consider to ONLY implement the described aspects below)

After the new frontend has been set-up, the Login/Register component should be tested.
- Implement Register form/mask and add button to the Login form/mask
- Implement basic features for the Authentication in the frontend
  - Login Page/Register should be

[2018-04-17 12:57] mwageneder opened #63 "Adapt BP based on new Data Model"
- Registration Process needs adaption based on User <--> Company Relation
- ProcessValidation should be extended with ProcessModel Upload into the ProcessStore and renamed to "Processupload and Validation"
- ProcessPurchase needs adaption especially for the DEV Team to set the structure, how the procedure should be handled when a company buys a process from the Store

[2018-04-17 14:17] AlexanderLichtenegger commented on #45
[Platform-Processstore WelcomePage sketch.pdf](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5ac4a22c28a2d6001126c85c/125516c66e82c728ace21e0d46d8989b37848cbb82a48f51ab5ef5873a55337c3b01e31c7589e027b2474b00080a5eef1a0d1b17a4eb9539e6f4632adf0f4fffdb7f5a25973f17afbad31fec54ee268c4f85b7e98c1dc4bb6c20f5979d0d6f405147d4a61760e28b41da59fe41e04857a71a3167e27135754e910c38.pdf)

[2018-04-17 15:12] amarbajric commented on #45
**Review**
- no description found
  - short description is needed either in the document or in a comment under this issue
- file was uploaded via waffle
  - check out other issues which do not need a PR, and you will see that everyone is pointing to our SharePoint
  - Therefore, file is rejected. Please remove it from the comment and upload it to the SharePoint with a proper reference (see other i

[2018-04-17 16:52] tortmann commented on #45
#### ad Review by @amarbajric (quotes below refer to this, above, comment)

Agree

Agree with @amarbajric , honestly I couldn't believe that you didn't even manage to correctly reference the document. There are only a handful of extremely simple things to keep in mind especially when working on issues that don't require pull-requests (PR). All documentation need to be put in the respective folder

[2018-04-17 17:25] tortmann commented on #63
Process and description are already looking good. Please read through the description again as it needs a bit of proofreading.

Furthermore, please don't forget to inform the other project members about the new information and its importance for the dev team which was and is going to be added through this issue.

[2018-04-17 18:21] mwageneder commented on #63
--> DONE ! Thanks for the very fast feedback .. I did not proofread it and this was however quite obvious :D

I will inform all the project members when I am finished with updating all processes and  creating the overview we discussed!

[2018-04-18 08:36] dietrich14 commented on #21
version 2  can be found on sharepoint in folder BusinessPlan\Kundenbindung_Marketing_Kommunikationsstrategie_v2

changes:
- added innovation-solutions to competition analysis in case of competitiors in the markt segment
- added more detailed information to the highlighted sections from v1

[2018-04-19 19:46] deKilla commented on #62
Hab jetzt amal die register hinzugefügt und "username" im login durch email ersetzt. Dadurch das es net läuft konnt ich es leider (noch) nicht testen darum auch noch nicht im Review.
Ich hab überlegt das ganze in ein eigenes/isoliertes Projekt auszulagern um es dort zu testen aber ich denke das is so reinverankert das sich das nicht "einfach so" isolieren lässt. Schau ma dann im Meeting wie wir hi

[2018-04-20 09:59] NSpalek commented on #19
Ready for second review.
Can be found on SharePoint: Dokumente\BusinessPlan\ValuePropositionCanvas_v2.docx

[2018-04-21 09:11] amarbajric commented on #62
**UPDATE**
Thank you for your comment @deKilla. I would suggest to write all comments in englisch, because everyone has commented in english so far and therefore we should keep it that way. However, this is no negative point.
Furthermore, a review is NOT possible due to the fact that #44 has to be finished first.

**ToDo**
- Keep this issue in the `in progress` swimlane
- As soon as #44 is finishe

[2018-04-21 13:29] deKilla commented on #44
First I tried to update to angular5 in the according #44 branch which turned out to be a bad idea. Several dependencies inside the project haven't been updated to work with Angular5 and replacements are either not available at all or if they are, implementing them would be a lot of work.

On [1] I tried to get the project running while staying at Angular2. Note that this branch is derived from the

[2018-04-21 20:30] NSpalek commented on #16
Ready for second review.
Can be found on SharePoint: Dokumente\BusinessPlan\Ertragsmodell_v2.docx

[2018-04-21 21:24] Graf-Carello commented on #14
First draft is ready for review. The document is saved under the following path on SharePoint: Dokumente\BusinessPlan\ConceptImplementation_v1.docx

[2018-04-21 22:05] Graf-Carello commented on #10
I added the changes to the revenue model in the document. This is corresponding with the discussion in our last meeting and with the revenue model from NSpalek.

I uploaded the new file ManagementSummary_v2.docx on the Sharepoint.

[2018-04-22 13:32] Graf-Carello commented on #15
I discussed the functionality with @amarbajric and finished the first draft of the document now. So the file PlatformFunctionality_v1.docx is ready for review and saved on the SharePoint.

[2018-04-22 14:47] amarbajric commented on #15
As @Graf-Carello has already mentioned, all aspects regarding the platform functionality have been discussed. Further, we have also discussed which functionalities are highly desired but left out at the beginning, because we need to first concentrate on the main platform functionality.

[2018-04-22 15:23] amarbajric commented on #44
Thank your for your information and update regarding this issue @deKilla.
Ofc you can tinker around in the branches you created in your forked repository. However, as everyone has the rights to create new branches in my repository, we should avoid to fork the repository and then work in separate repos. In this form of collaboration we should use one repo.  So next time if you need another branch (

[2018-04-22 20:35] mwageneder commented on #63
**UPDATE (22.04.2018)**
- revision of all internal BPMN processes was done in order to fit the newly discussed data model
  - Processes 1-4 were changed and revised under a new version number available on the Sharepoint

- As discussed, I created an Overview of the most important procedures and how they should be implemented according to the data model
  - File was published  on the SharePoint und

[2018-04-22 20:45] Graf-Carello commented on #11
I added information about the strategy of EasyBiz. The new file VisionStrategy_v2.docx can be found on SharePoint in the BusinessPlan folder.

[2018-04-23 08:09] deKilla commented on #45
first draft: https://fhjoanneum.sharepoint.com/:f:/s/EBUSA-Projekt/Et6Xk9dcivtGplI4xUHGc5gBabu3zg49dX89BfL_RupOzQ?e=M1bkFf

[2018-04-23 08:50] tortmann commented on #45
I just want to mention that the following should be considered for all pages: The **specific display logic** should closely **related to the user type** - _e.g.: a normal user of an organization would not need to see any Process review related content etc._ A **filtered view based** on the logic we decided on during the **identity mgmt implementation** should be considered for every page. This doe

[2018-04-23 10:41] Graf-Carello commented on #16
The changes @NSpalek implemented should now reflect our discussions about the revenue model. I also proofread the document, and it seems good to me. I just corrected some tiny typos. It now states all important aspects about EasyBiz's revenue streams, except any detailed real numbers or percentages, since we don't need this for our project.

[2018-04-23 11:04] Graf-Carello commented on #19
The VPC is quite good and explains the most important aspects of the value EasyBiz generates for their customers. I just corrected some small typos.

[2018-04-23 13:14] tortmann commented on #44
make further investigations to fix pending error(s)
maybe consider updating whole frontend and start from scratch
ofc we could take the existing code and implement it in a fresh frontend set-up.
Link to the new ngx-admin (currently ng2-admin is used in our project)

Pasted ToDo (by @amarbajric ) from #64 to not forget it while #44 stays in progress

[2018-04-23 13:20] amarbajric commented on #44
@tortmann Thank you for the ToDo!
- Issue was renamed to not cause confusion within dev-team
- Further ToDos can be found in the comment above ^

[2018-04-23 13:26] amarbajric opened #65 "Create Changelog.md file"
Create a Changelog.md file for the whole infrastructure. This file should:

- contain all changes made regarding the whole infrastrucuture and microservices
- allow for tracking down changes made by the dev-team regarding any software-related tasks where implementations have been done

[2018-04-23 13:48] tortmann commented on #16
Thank you for the changes. I reviewed it and also corrected some minor typos and the document is now approved and can be added to the large complete document.

[2018-04-23 13:48] #16 closed, assigned to NSpalek

[2018-04-23 13:51] tortmann commented on #19
Thank you for making the discussed changes. Approved (ready to be added to the large document)

[2018-04-23 13:51] #19 closed, assigned to NSpalek

[2018-04-23 13:51] tortmann commented on #18
Final review and discussion will happen 24.04. 10am - will be ready shortly after this meeting

[2018-04-23 13:57] tortmann commented on #10
Changes are approved. Thank you. I just want to mention that when combinig the individual files into one large document the references to other chapters or files need to be adjusted accordingly.

[2018-04-23 13:57] #10 closed, assigned to Graf-Carello

[2018-04-23 13:59] tortmann opened #66 "Business Plan Document - LaTeX"
Combine all individual Business Plan and Process files into one large file.

[2018-04-23 14:01] tortmann commented on #66
Please do not forget to update references to other files / chapters within each individual file by referencing the respective chapters etc. The Business processes should also be included in my opinion since they model the internal business logic and serve as a nice example for the processes mentioned in the business plan documents.

[2018-04-23 14:13] tortmann commented on #11
Very well written strategy and in my opinion you covered everything. Approved (can be added to the large document)

[2018-04-23 14:21] tortmann commented on #45
I just read the PlatformFunctionality_v1 document and realized that I forgot to mention that the `ProcessDetails` page **requires a comment functionality**. This functionality should also be considered on the `Dashboard` for reviews of not yet approved/reviewed process models since the review process requires a **comment functionality**.

[2018-04-23 14:42] #11 closed, assigned to Graf-Carello

[2018-04-23 14:42] tortmann commented on #15
Approved!

[2018-04-23 14:42] #15 closed, assigned to Graf-Carello

[2018-04-23 14:58] tortmann commented on #14
Approved (ready to be merged)

[2018-04-23 14:58] #14 closed, assigned to Graf-Carello

[2018-04-23 15:01] tortmann commented on #21
All changes are approved. (ready to be merged)

[2018-04-23 15:01] #21 closed, assigned to dietrich14

[2018-04-23 15:04] #38 closed, assigned to amarbajric

[2018-04-23 15:06] #65 closed, assigned to amarbajric

[2018-04-23 15:47] amarbajric commented on #61
**NOTE**
This issue does not require any PR. I will comment the branches which I think can be safely deleted.

**Branches safe for deletion:**
- `project-changelog-#65`
- `angular-update-#44`
  - I will create a new branch when doing further work regarding issue #44
- `unix-running-#1`
- `spring-config-#38`
- `nativequeries-lowercase-#37`
- `mysql-docker-#4`

**ToDo**
- @tortmann, @loete, @deKilla

[2018-04-23 15:49] stfnltnr commented on #61
:+1:

[2018-04-23 15:49] deKilla commented on #61
+1

[2018-04-23 15:49] tortmann commented on #61
👍

[2018-04-23 15:50] amarbajric commented on #61
Very nice.
Issue closed, thank you!

[2018-04-23 15:50] #61 closed, assigned to amarbajric

[2018-04-23 15:55] dietrich14 commented on #13
version 2 can be found on sharepoint in folder BusinessPlan\Umweltanalyse_v2

changes:

- added EU-DSGVO to the legal factors
- added a short paragraph about innovation management to the technical factors and referenced to the competitor analysis for further details since it is covered there in more detail

[2018-04-23 16:25] amarbajric commented on #45
Thank you for your extensive review @tortmann.
I think he has already covered a lot of points. However, there are some points which I have to mention.
Note: The sketches/points **I have not mentioned** are accepted from my side!

**TOP LEFT**
- a user cannot start processes. He can only upload his and interact with the ProcessStore. Everything related to starting/executing/viewing processes (that

[2018-04-23 17:29] Graf-Carello commented on #13
I corrected some small typos, otherwise the doc seems done in my opinion.

[2018-04-23 17:54] deKilla commented on #45
v2 is up - https://fhjoanneum.sharepoint.com/:w:/s/EBUSA-Projekt/ESpFBr3Mt4BMmeclRIGpCNwB2oo-W84U6z9Tt8F0vSC-CQ?e=xEcBxP

I had trouble with the wording and confusions regarding "user" and "company" - I hope I was able to resolve all those issues.

ad WelcomePage – MIDDLE
That was my idea, however, if you want to know what is trending you would need more than just the current rating – i.e. some ki

[2018-04-23 18:01] amarbajric commented on #45
Thank your for the refinement @deKilla.
From my side it is approved and very nicely done.
However, I would suggest to discuss this topic on Wednesday 25.4.18 at our meeting. The discussion should just clarify some minor considerations, like the ones you have just mentioned.

- Nice idea. I did not think about that and it would ofc make much sense. I also want to include this and the other points,

[2018-04-23 18:20] dietrich14 commented on #23
version 2 can be found on sharepoint in folder BusinessPlan\The-Transformative-Business-Model_v2

changes:

- almost everything.
- I marked all the changes in yellow for better traceability of the conducted changes

[2018-04-23 18:34] dietrich14 commented on #66
I'm going to list all the documents I've already added to Latex - so if there are any changes to be made in any of them, please let me know since I have to adapt it in the tex-files.
@tortmann do you agree with this approach of listing the documents here or would you have a more sophisticated solution of doing this? maybe move the documents to an own folder on SP?

[2018-04-24 06:23] tortmann commented on #63
Added changes to the description of how the user registration works (currently marked in yellow). In my opinion it makes much more sense to check the user data in the frontend before sending everything to the backend and use async validation in case of specific form fields that could cause a duplicate error (username, email.)

Please also add a connection between choosing usertype and the database

[2018-04-24 08:08] tortmann commented on #63
I have highlighted two sections of the document which did not seem correct or precise enough to me.
"automated portal" - I was not aware that we have an automated portal that automatically checks wheter or not a process model is correct / sound or not and gives feedback about the result.

"if the model is OK and matches our criteria it will be stored in the system /database" - by uploading the mod

[2018-04-24 08:14] tortmann commented on #63
"when the customer wants to buy a process, the system checks if the customer is logged in" - This is fine, but I think we should **add** the following:

**- check if the user (after logged in) has already purchased this process model**

[2018-04-24 08:43] tortmann commented on #63
**Approved** - please explicitely mention the checks (is user logged in?, does user already own the process model?) in process 3 since they are required in process 4 too.

[2018-04-24 08:47] tortmann commented on #63
I know that this process what not up for review but I just thought of a slight change while reading through it, that makes a lot of sense in my opinion.

If a process model is **modified, all organizations should by informed about this change** in the store - e.g.: via E-Mail and/or flagging this process in the store with a "recently changed" tag or something similar.

[2018-04-24 08:50] tortmann commented on #62
If possible (depending on when #39 and #40 will be finished) finalize and test #62 so that we can maybe show the working Login/Register in combination with the extended backend during the interim presentation on 27.04.

[2018-04-24 08:56] tortmann commented on #66
**Please list ALL documents** including the information whether or not it is already included for every document **in a comment here** and **edit the comment when you add documents to the LaTeX document**.

The file/folder structure on ShP will be optimized by me at a different point in time, most likely after all documents of the BP Team have been merged.

In general, all the documents that have

[2018-04-24 08:58] NSpalek commented on #18
Ready for second review.
Can be found on SharePoint: Dokumente\BusinessPlan\Risikoanalyse_v2.xlsx

[2018-04-24 08:58] tortmann commented on #63
@amarbajric I would appreciate a very short comment in case you do not agree with my suggestions since it also concerns the dev-team. Thank you!

[2018-04-24 09:01] tortmann commented on #18
**Approved** - final changes were discussed and reviewed during skype call 24.04. - 10:15-10:35am

[2018-04-24 09:01] #18 closed, assigned to NSpalek

[2018-04-24 09:18] amarbajric commented on #63
Thank you for your review @tortmann. I will include some of the comments @tortmann has made in the above comments and give my own opinion about them.

Although this is not a must have, we should and can easily make use of Angular's async validation in the frontend to at least validate an email while registering to not `POST` a register form and then get the error message every time the registratio

[2018-04-24 09:20] amarbajric commented on #62
@tortmann thank you for the comment.
Yes this is very important and should be tested ASAP and if the registration endpoint is implemented in the backend!

[2018-04-24 09:34] tortmann commented on #63
I slightly changed the definition in the second sentence since being logged in theoretically enables all below mentioned features not just the upload.

"checked automatically" - additional (short) explanation or references would be required to define how this automatic check is supposed to work but our case I think that we should leave this out completely as suggested in comment ad Process 2 and b

[2018-04-24 09:51] tortmann commented on #45
**Thanks for the refinements @deKilla!**

I created a **new version of the document - v2.1 - on the ShP** where I replaced all metions of the word `company` with `organization` as it better reflects the naming conventions in other documents, but that's just a small thing.

I also had a look at the changes and could only find one small thing that should be optimized and added to v2.1 of the documen

[2018-04-24 10:07] #39 closed, assigned to loete

[2018-04-24 10:12] tortmann commented on #40
ER-diagram of implemented data model: SharePoint **Documents\Development\Data_model\ippr_security_new.pdf**

### UPDATE (24.04.2018, 01:10 pm)
**Dependancies #29 and #39 are resolved and closed.**
This task should be completed asap in order to test #62 for the interim presentation 27.04.

[2018-04-24 10:20] tortmann commented on #13
**Approved**

Thank you very much for commenting on the changes made, this makes it so much easier for me.

[2018-04-24 10:20] #13 closed, assigned to dietrich14

[2018-04-24 10:32] tortmann commented on #23
**Approved**
Thank you very much for marking the changes, this saved me a lot of time. All changes are very well done. I only added a second part to the very last sentence of the document by referring to innovation management as a mean of enhancing the company's agility in the future.

[2018-04-24 10:32] #23 closed, assigned to dietrich14

[2018-04-24 10:35] tortmann opened #69 "Business Plan"
parent of #8
parent of #9
parent of #10
parent of #11
parent of #12
parent of #13
parent of #14
parent of #15
parent of #16
parent of #17
parent of #18
parent of #19
parent of #20
parent of #21
parent of #22
parent of #23
parent of #24
parent of #63
parent of #66

[2018-04-24 10:43] tortmann opened #70 "Project Management"
parent of #25
parent of #26
parent of #27
parent of #28
parent of #56

[2018-04-24 10:48] tortmann opened #71 "Software Development"
parent of #1
parent of #2
parent of #3
parent of #4
parent of #7
parent of #29
parent of #37
parent of #38
parent of #39
parent of #40
parent of #41
parent of #42
parent of #43
parent of #44
parent of #45
parent of #46
parent of #47
parent of #48
parent of #49
parent of #50
parent of #51
parent of #52
parent of #53
parent of #54
parent of #57
parent of #58
parent of #59
parent of #60
parent of #61

[2018-04-24 11:05] tortmann commented on #66
This document **does not need to be finished until 25.04. but rather until 27.04.** to be distributed the evening before or during the interim presentation to the customer (RS).

**I added @Graf-Carello and @NSpalek for additional proofreading** after the document has been finalized. This will be discussed also during the next meeting(25.04.)

@dietrich14 Do you think this deadline is feasible?

[2018-04-24 11:11] dietrich14 commented on #66
I'll try to finish it ASAP, however the 27th should be feasible (if I'm able to include all the analyses from Excel properly).
Furthermore I'd like to discuss the general structure of the document in the whole group during tomorrow's meeting.

[2018-04-24 11:13] tortmann commented on #66
Of course, I will definitely reserve a timeslot for that.

[2018-04-24 14:28] mwageneder commented on #63
## First of all thank you very much for your very helpful and very detailed feedback @tortmann & @amarbajric ! Much appreciated !

I took all of the comments into consideration and adapted the processes 1-5 and the Overview according to them. Short overview given below:

|                |ADDED                          |CHANGED                         |
|----------------|--------------------------

[2018-04-24 15:05] tortmann commented on #63
**Approved**

[2018-04-24 15:05] #63 closed, assigned to mwageneder, amarbajric

[2018-04-24 15:27] deKilla commented on #45
@tortmann I am not sure what you mean regarding the ProcessDetails MockUp ... it says created by Hans Hohlwig (a user) and there is a comment from Fantasycompany123 (a company that is using / has bought this process) ... please clarify thank you

[2018-04-24 15:37] tortmann commented on #45
You are correct I did get that mixed up, sorry about that, however are organizations really able to comment? or rather users within certain organizations - something like: `johnDoe:organization123`

maybe @amarbajric can shortly comment on the ability of organizations to write comments

[2018-04-24 15:40] deKilla commented on #45
I thought, that it is a user (that is part of a company) who writes to comment, but it is the name of the company that is displayed ...

edit: a user might theoretically change the company he's working in, but the company that bought the process remains the same - @amarbajric decides or we discuss it in the meeting

[2018-04-24 15:43] tortmann commented on #45
I am not entirely sure, off the top of my head, if we have even decided this use case yet. Any solution is possible it's just a matter of deciding on one (if not done already) imo

[2018-04-24 15:47] amarbajric commented on #45
See comment below.

A user, who is part of an organization, is able to:
 - buy a process (if he/she has the suited role)
 - rate processes the org. has bought (if he/she has the suited role)
 - ...

In short, the user, who is within a specific org, can comment (post a rating). The display logic can be discussed. But it is a good idea to make something like

[code]

[2018-04-24 15:49] tortmann commented on #45
Then we shall discuss this during the next meeting (25.04)

[2018-04-24 15:51] amarbajric commented on #45
We can ofc discuss this point. However, I think it is absolutely mandatory to display the organization name. The name of the user, who has rated the process on behalf of the company, can be optional.
So we can implement something like this:
- `commented by johndoe (org123)`
- `commented by org123`

[2018-04-24 15:53] deKilla commented on #45
So we can implement something like this:
- `commented by johndoe (org123)`
- `commented by org123`

We should, however, consider the case that a user changes their company. The field should not be updated in that case.

[2018-04-24 16:05] #45 closed, assigned to deKilla

[2018-04-24 16:40] dietrich14 commented on #66
added following documents to Latex:

- BusinessModel_v1
- BusinessModel_3Pillars_v1
- VisionStrategy_v2
- ConceptImplementation_v1
- PlatformFunctionality_v1
- ManagementSummary_v2
- Kundenbindung_Marketing_Kommunikationsstrategie_v2
- Ertragsmodell_v2
- Umweltanalyse_v2
- The-Transformative-Business-Model_v2
- Branchenstrukturanalyse_FiveForces_v1
- SWOT_v1
- ValuePropositionCanvas_v2
- business_

[2018-04-24 17:31] amarbajric commented on #40
**UPDATE - Development**
- Memory Authentication was changed
  - now the `email` and `password` need to be provided to the `/user/login` endpoint in order to login and get a valid token. (before it was `username` and `password`)

**ToDo**
@tortmann we need to discuss the initial roles tomorrow, which should be created. For registration we will need something like `normal_user` and then we can also

[2018-04-25 14:45] amarbajric opened #72 "GUI(-dev): Set-up new frontend"
The current frontend is not maintainable anymore because it is blown-up with too much dependencies which are mostly deprecated.
Therefore, the better solution is to set-up a fresh and new frontend application.

- use ngx-admin template
- use up-to-date modules
  - Angular 5.x
  - ngx-admin newest version
  - other RELEVANT modules
- ONLY use relevant modules
- set-up correctly
  - webpack/other co

[2018-04-25 14:50] amarbajric opened #73 "Port functionality from old frontend to new one"
**THIS TASK/ISSUE DEPENDS ON #72**
After the task/issue #72 has been completed, reviewed, approved and merged, this task should be done ASAP.
The task/issue includes:
- porting the most important and (for us) relevant functionality from the old frontend project to the new one.
- testing the functionality and connection to the backend.

[2018-04-25 15:13] #44 closed, assigned to deKilla, amarbajric

[2018-04-26 13:38] #72 closed, assigned to deKilla

[2018-04-26 13:44] amarbajric commented on #62
**NOTE**
This issue/task was updated on 26th of April.
Please see the first (initial) comment of this issue/task and check out the description if you assign yourself to this task!

[2018-04-27 05:52] amarbajric opened #75 "Update README.md"
**ToDo:**
Different changes may request a new update of the `README.md` file

- update after frontend changes (i.e. port number etc..)
- update after changes in backend
- consider reading changelog to evaluate changes and apply in `README.md` if needed.

[2018-04-27 16:05] mwageneder opened #76 "Test S-BPM Modeller v2"
# ToDo:

- Install new version of SBPM Modeller from mkolody and test it
  - `https://github.com/mkolodiy/s-bpm-modeler`
- Check, if Processes modelled with the new version can be imported into our platform
  - If **NO**, consult @amarbajric for further discussion
  - If **YES**, model the three example processes already modelled with the old modeller with the new one (this time in english) and UP

[2018-04-29 12:23] amarbajric opened #78 "Fix MySQL docker container error"
The mysql docker container `ebusa-mysql` is not working properly anymore when building a new container with the latest mysql docker image (29.04.2018).
Error: `java.sql.SQLException: Unable to load authentication plugin 'caching_sha2_password'.`

- Investigate on this error
- Check how to fix
- First investigation shows, that the db users are using an old password encryption style and new mysql do

[2018-04-29 17:58] amarbajric opened #80 "Define new tasks/issues (after interim)"
- define new tasks/issues for the dev-team which need to be done/considered

[2018-04-29 18:02] amarbajric commented on #80
Proposal of new/additional tasks/issues can be found on the SharePoint:
`/Development/APs_Requirements/EBUSA_SWD_APs_29.04.18.pdf`

**ToDo:**
@tortmann i need your review upon the proposed tasks/issues and your opinion. If approved from you, we can create these tasks and put them in the backlog.

[2018-04-29 18:17] tortmann commented on #80
@amarbajric thank you for the document. All tasks seem fine and I also definitely agree with your comments - therefore **APPROVED**.

I would rate the importance of creating a guideline as high as the data model adaption since it is very important that everyone follows the same design guideline. I would suggest to assign this task to @deKilla since he has implemented the frontend baseline and will

[2018-04-29 18:19] tortmann opened #81 "API Documentation"
**The use of tools like SwaggerAPI are required!**

For more details see document on SharePoint:
`/Development/APs_Requirements/EBUSA_SWD_APs_29.04.18.pdf`

[2018-04-29 18:21] tortmann opened #82 "Data model refinement"
Detailed info will follow on 30.04.2018 after meeting

Until then see document on SharePoint:
`/Development/APs_Requirements/EBUSA_SWD_APs_29.04.18.pdf`

[2018-04-29 18:23] tortmann opened #83 "RBAC Service Evaluation/Adaption"
see PR #79 for ToDo!

For more details see document on SharePoint:
`/Development/APs_Requirements/EBUSA_SWD_APs_29.04.18.pdf`

[2018-04-29 18:24] tortmann opened #84 "Process Modeller 2.0 Integration"
Implement / Integrate newer version of the modeler.

For more details see document on SharePoint:
`/Development/APs_Requirements/EBUSA_SWD_APs_29.04.18.pdf`

[2018-04-29 18:25] tortmann opened #85 "Frontend Design Guideline & Documentation"
Create a design guideline for the use of ngx-admin in this project.

For more details see document on SharePoint:
`/Development/APs_Requirements/EBUSA_SWD_APs_29.04.18.pdf`

[2018-04-29 18:25] tortmann opened #86 "Rating Component"
Implement an indepentant rating component that can later be integrated into the Details page

For more details see document on SharePoint:
`/Development/APs_Requirements/EBUSA_SWD_APs_29.04.18.pdf`

[2018-04-29 18:26] tortmann opened #87 "Approval View (Component)"
Special view for the Approver to be able to approve/reject and comment on process models.

For more details see document on SharePoint:
`/Development/APs_Requirements/EBUSA_SWD_APs_29.04.18.pdf`

[2018-04-29 18:27] tortmann opened #88 "Admin View"
Special view on the frontend that an admin should have. Very low priority - should be implemented as the last component / view.

[2018-04-29 18:30] amarbajric commented on #80
I totally agree with you in this point.

I also agree with you regarding this point. @loete and I already discussed about meeting virtually tomorrow. It would also be very helpful if you also participate @tortmann!

I will finish this task after we have discussed the further things like the adaptation of the data model (again) and the meeting tomorrow about the process store service. Reason: I hav

[2018-04-29 18:32] tortmann commented on #80
Alright thank you. I will be online at around 8:15am just give me a call when you wanna hold the meeting.

[2018-04-29 18:32] #80 closed, assigned to amarbajric

[2018-04-30 15:47] #40 closed, assigned to amarbajric

[2018-05-01 18:47] mwageneder commented on #76
Installed the new SBPM-Modeller from mkolodiy and tested it.

Importing the `*.owl` files into our project works fine therefore I
- remodelled the 3 SBPM Processes with the new Modeller
  - Business Trip Application
  - Buying Process
  - Employee Entrance

- evaluated if the new Modeller can be implemented into our project and the result is **NO**. Not within the time given.

After a skype meetin

[2018-05-02 13:42] #62 closed, assigned to deKilla

[2018-05-04 07:09] dietrich14 commented on #66
ready for review - document can be found on Sharepoint: BusinessPlan/easybiz_geschaeftsmodell_v3

@NSpalek @Graf-Carello
please read through the document and especially check
- correct references (are there any missing / wrong)
- consistent gendering
- layout
- dependency of chapters - do any chapters have to be moved for better understanding

[2018-05-07 08:07] #27 closed, assigned to tortmann

[2018-05-08 13:55] NSpalek commented on #66
@dietrich14
I have read through the document and highlighted a couple of mistakes.
I also have commented on most of them directly in the document.
Please feel free to ask if something is unclear.

The corrected document can be found on Sharepoint: BusinessPlan/easybiz_geschaeftsmodell_v3_Korr_Spalek.pdf

[2018-05-08 20:24] Graf-Carello commented on #66
I have also read through the whole document (the version with @NSpalek  suggestions) and added some comments and marked errors with green color (same as Nina).
So this file combines both Ninas  and my own suggestions for corrections in the whole document.

The file is saved on Sharepoint:
BusinessPlan/easybiz_geschaeftsmodell_v3_Korr_Spalek_Graf.pdf

[2018-05-21 13:40] NSpalek commented on #85
Ready for review.
Can be found on SharePoint: Dokumente\Development\Designguide\Designguide_v1.docx

[2018-05-22 08:25] Graf-Carello commented on #87
@loete To include real data into the approval view, I would need the backend to give back a list of all process models which are not approved yet. To then display them in the approval view. Since at the moment, I am just displaying dummy data on the page.
Further I would need the backend to also give back a list of all existing comments of a specific process model, to display them on the approval

[2018-05-24 11:34] tortmann commented on #85
reviewed and approved

[2018-05-24 11:34] #85 closed, assigned to NSpalek

[2018-06-02 09:47] amarbajric commented on #82
File can be found on SharePoint:
`\Development\Data_model\data_model_adaptions_v2.1.pdf`

**DONE:**
- included all the points which were discussed by me and @loete.
  - Roles and Rules defined
  - added considerations to the proposed ROLE/RULE scenario
  - adapted the data model excerpt in the file

**ToDo:**
- need review from @tortmann, @loete, @deKilla (if it is possible regarding the frontend

[2018-06-04 11:29] deKilla commented on #81
I have designed a basic swagger document that is in desperate need of further adaptations. However, since the API (in its current state) is far from final this is about as good as gets (for now).

https://fhjoanneum.sharepoint.com/:u:/s/EBUSA-Projekt/Efyo2f5AO8NLiydOPJPCGfsBhXMj9YX55RzNtAkAJ_A_0w?e=wJ5s8E

edit: the git branch that I have initially created is obsolete as there are no changes

[2018-06-04 14:56] #51 closed, assigned to NSpalek

[2018-06-05 07:54] amarbajric commented on #81
First of all I would suggest to use a feature-branch for this task, as an API documentation should also reside in a repository. Hence, it is important to include it into a separate folder like `api-documentation` to give other a quick overview over all available endpoints.

Furthermore, I have some issues I want to comment on. Please refer to the screenshot below.
![screen shot 2018-06-05 at 09 40

[2018-06-05 09:55] tortmann commented on #81
1) The API documentation should definitely be added to repository as it provides vital information for any further development of this project and the file on SharePoint can not be accessed by anyone outside this project team.

2) as @amarbajric mentioned logout does not an endpoint and should be implemented similar to the implementation in the PIAEN project

3) it is important to note that this d

[2018-06-05 10:11] #73 closed, assigned to dietrich14

[2018-06-12 12:31] mwageneder commented on #76
# UPDATE 12.06.2018

Short Overview of the topic as this task catched my attention for a very long time!

- Started modelling SBPM processes with modeller v1 and realised the modeller is kind of buggy and sometimes he doesnt let you save the `*.owl` File
- I later relised, the process models i created could not be imported within the engine so..
- Since Mr. Singer told us there is a v2 of the mode

[2018-06-12 13:40] #83 closed, assigned to amarbajric

[2018-06-21 12:59] #87 closed, assigned to Graf-Carello

[2018-06-23 21:20] #82 closed, assigned to loete, amarbajric

[2018-06-23 21:52] amarbajric opened #100 "Approval-View (Refinement)"
Refinement and refactoring according to the comments issued at the PR #90

[2018-06-23 21:53] amarbajric opened #101 "Search-component (Refinement)"
Refinement and refactoring according to the comments issued at the PR #91

[2018-06-23 21:55] amarbajric opened #102 "Rating-component (Refinement)"
Refinement and refactoring according to the comments issued at the PR #98

[2018-06-24 08:52] #81 closed, assigned to deKilla

[2018-06-24 19:24] #78 closed, assigned to amarbajric

[2018-06-24 19:41] deKilla commented on #48
I've created a first version of this page
There are some elements that this depends on that are not yet available (process rating for example)
But you may want to take a look at the current progress to provide feedback - I wouldn't know what else to do for now.

[2018-06-24 19:54] Graf-Carello commented on #100
Now the approval page and approval-details page are two seperate pages, and if an approver clicks on one process of the list of all processes, he gets  to the details page, where he can approve or disapprove of a process, which now works with data from the backend.

There is still a problem with the backend response concerning the approved attribute of a specific process. The backend always return

[2018-06-24 19:56] tortmann commented on #100
does the GET request also return "false" within the response body?

[2018-06-24 20:01] Graf-Carello commented on #100
Yes, the GET request returns "false" within the response body, even though it should be "true" (and is actually true in the SQL-DB).

[2018-06-25 12:18] tortmann opened #104 "EasyBiz Logo Integration"
Logo files (png,jpg,ai,svg) can be found on Sharepoint under Documents/Development/EasyBiz_Logo

Please integrate image into the header (probably top left) and on the welcome page + favicon (favicon package zip)

Also use the Logo in the business model document (also needs finishing regarding team desc #22)

[2018-06-25 12:32] Graf-Carello opened #105 "Problem with API Respones from StoreService Task #30"
There is still a problem with the **backend response concerning the approved attribute** of a specific process. The backend always returns false at the moment, even if the data in the SQL DB is actually true.
So when I call the endpoint **GET localhost:10000/api/store/processes** to get all processes from the SQL-DB, the attribute approved of a process is always false.

Here is a picture of the **

[2018-06-25 12:33] deKilla commented on #104
I don't know how/why I'm already assigned - but I'll take care of it :) (I mean the website-part of this task)

Maybe @dietrich14 can take care of the document ... would be appreciated :)

[2018-06-25 12:55] deKilla commented on #104
ok done - I also changed the favicon ... I pushed it into the branch logointegration-#104 but I didn't make a pull request as the entire task is not yet done

[2018-06-25 15:37] mwageneder commented on #76
Final Update:

All Process Models are ready to execute and available on Sharepoint.
Documentation is also available on Sharepoint within the Process Folder.

Task Done.

[2018-06-25 15:38] mwageneder opened #106 "Configure Process View"

[2018-06-25 19:46] deKilla commented on #52
the news segment has been implemented redundantly - it is also part of the homepage that I've created yesterday (according to the sketches)
The toast placement is not optimal (minor issue)
When I create a new company I'm not directly part of it (is this intentional?)
Arguably modals and other reusable components could/should be placed in @theme but at the current state of the project, I guess this

[2018-06-25 19:50] amarbajric commented on #52
Thats no problem at all. Redundancy is easier to remove than having no implementation at all.

PR (from me) is coming in a few minutes which will fix this issue.

No this does not matter anymore and is obsolete. The whole project would need a huge refactor but this is not feasible anymore.

Please comment under the actual PR @deKilla :)

[2018-06-25 19:55] tortmann commented on #52
Everything was implemented as discussed today, and I can agree that backend changes will solve the above-mentioned issue when creating an organization.

Please don't close this issue until the endpoint connection placeholdersare acutally implemented tomorrow

[2018-06-25 19:59] tortmann opened #108 "Prepare Presentation Demo Dummy Data"
Prepare SQL statements that generate all required dataset for a proper demo during the presentation.

Requirements: fill up all tables with meaningful dummy entry also including dummy comments dummy ratings , approvals etc.

For further questions please contact me.

This will be used for the live demo to have a nice (linux-based) runnig verison of the latest dev branch version and the SQL + a shor

[2018-06-25 20:14] dietrich14 commented on #22
added to version 4.1 of the businessplan document, newest version can be found on SP at Dokumente/BusinessPlan/easybiz_geschaeftsmodell_v4-1.pdf

added several new responsibilities of the team members

[2018-06-25 20:15] dietrich14 commented on #104
added the logo to the business plan document, version 4.1 can be found on SP
Dokumente/BusinessPlan/easybiz_geschaeftsmodell_v4-1.pdf

[2018-06-25 21:40] tortmann commented on #106
You do not need to implement the upload of a process model to the DB - just in case you were planning on doing that. just focus retrieving a model from the db (placeholder  until endpoint available) and the integration of the vie were you can define the execution roles/parameters. @dietrich14  will do the upload as a separate task

[2018-06-25 21:44] tortmann opened #111 "Upload process model (.owl) to DB - frontend part"
upload an .owl to the db (endpoint will be provided by the backend super team tomorrow)

if available use ngxadmin upload module for it and position it on the left hand side above the menu points to be available on all sides.

please do the actualy upload "form" in a modal. thank you

old#53 Description:

Implement a component that allows for uploading processes. The upload mechanism is already pr

[2018-06-26 08:11] #46 closed, assigned to AlexanderLichtenegger

[2018-06-26 08:11] #101 closed, assigned to AlexanderLichtenegger

[2018-06-26 12:43] #66 closed, assigned to Graf-Carello, NSpalek, dietrich14

[2018-06-26 14:24] tortmann opened #114 "Update API Documentation"
to be implemented when all endpoints are done

[2018-06-26 14:26] tortmann commented on #84
set inactive due to lack of viability - see documentation on ShP for reasoning (NoSQL required)

[2018-06-26 14:29] tortmann commented on #88
set inactive due to lack of viability - missing features  backend improvement and logging improvement during execution. see final project report for reasoning

[2018-06-26 14:34] #104 closed, assigned to deKilla, amarbajric, dietrich14

[2018-06-26 16:16] #58 closed, assigned to nobody

[2018-06-26 16:16] tortmann commented on #50
will not be implemented as discussed with @amarbajric

[2018-06-26 16:17] tortmann commented on #53
replaced by #111

[2018-06-26 16:18] #43 closed, assigned to nobody

[2018-06-26 16:20] tortmann commented on #41
will not be implemented due to missing dependancies - see final report for reference

[2018-06-26 16:21] tortmann commented on #47
adapted to each component individually (e.g. via guard in approval component or visibility of links buttons)

[2018-06-26 16:21] #47 closed, assigned to nobody

[2018-06-26 16:23] tortmann commented on #42
not implemented due to missing dependancies or lack of viability within this project - see final report for reference

[2018-06-26 16:45] #22 closed, assigned to dietrich14

[2018-06-26 16:45] #76 closed, assigned to mwageneder

[2018-06-26 18:03] stfnltnr commented on #105
resolved by https://github.com/amarbajric/EBUSA-AIM17/pull/115

[2018-06-26 18:03] #105 closed, assigned to loete

[2018-06-26 20:23] dietrich14 commented on #108
ready for review - Document can be found on SP/Documents/Development/Dummy_Data/ebusa_testdata_v1

[2018-06-26 21:51] #49 closed, assigned to NSpalek

[2018-06-26 22:35] #100 closed, assigned to Graf-Carello

[2018-06-26 23:24] #52 closed, assigned to dietrich14

[2018-06-26 23:39] #111 closed, assigned to dietrich14

[2018-06-27 00:02] #102 closed, assigned to AlexanderLichtenegger

[2018-06-27 01:23] #48 closed, assigned to deKilla

[2018-06-27 03:15] #75 closed, assigned to amarbajric, tortmann

[2018-06-27 03:15] #28 closed, assigned to tortmann

[2018-06-27 03:16] tortmann commented on #106
could not be implemented

[2018-06-27 03:18] tortmann commented on #86
fixed missing rating features within 20 minutes at 5am..it's really sad you didn't manage to complete this simple task

[2018-06-27 03:18] #86 closed, assigned to AlexanderLichtenegger

[2018-06-27 03:18] #30 closed, assigned to loete, amarbajric

[2018-06-27 03:18] tortmann commented on #108
v8 was the great masterpiece

[2018-06-27 03:19] #108 closed, assigned to dietrich14